[Unit]
Description=Run Proxmox -> NetBox sync periodically

[Timer]
OnBootSec=0min
OnUnitActiveSec=12h
Unit=pve-netbox-sync.service

[Install]
WantedBy=timers.target

